/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/12/2020, 01:59:19 PM
    Author     : Eda
*/

body{
        padding: 0;
        margin: 0;
        height:100%;
        text-align: center;
        background: linear-gradient(-45deg, #F2D22E ,#F2A81D ,#F27405, #BF0404) ;
        background-size: 400% 400%;
        animation: anima 10s ease-in-out infinite;
         }    

   header{
    height: 80px;
    background-color: rgba(0,0,0,0.01);
    width: 100%;
    z-index: 5;
    position: absolute;
}

.container{ 
	
	justify-content: center;
        height: 100%;
	align-items: center;
        font-family: Century Gothic;
        
}

nav{
    float:right;
    text-decoration: none;
    line-height: 80px;
}
nav a{
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    font-family:Calibri Light;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0 5px;
    color: #fff;
    transition: 0.6s;
}

nav a:hover{
      background: linear-gradient(-45deg,  #12CBC4,#0652DD,#12CBC4 ) ;
     background-position:right;
     box-shadow: rgba(0,0,0,0.5) 0px 0px 20px;
}
 
.titulo{
   background-color: rgba(0,0,0,0.50);
   width: 1210px;
}
h1{
    
    top: 40%;
    left: 40%;
    padding:30px 10px ;
    letter-spacing: 2px;
    font-size: 40px;
     
     
}
.titulo{
   background-color: rgba(0,0,0,0.50);
   width: 100%;
}
h1{
    
    top: 40%;
    left: 40%;
    padding:30px 10px ;
    letter-spacing: 2px;
    font-size: 40px;
     
     
}

img{
    width:400px;
    margin: 0;
    
}
.img1{
    margin: 0;
    width:400px;
    padding:50px;
    display:inline-block; 
}

.img1 figure{
    margin:0;
    position: relative;
    width:400px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 20px;
    cursor: pointer;
}

.txt{
   width:400px;
   color: #fff;
   height: 400px;
   position: absolute;
   top:0;
   font-size: 15px;
   background-color: rgba(0,0,0,0.90);
   transition: all 500ms ease-out;
   opacity: 0;
   visibility: hidden;
}

.img1 figure:hover > .txt{
    opacity: 1;
    visibility: visible;
    
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
    top:12%;
    left: 42%;
    animation: animate 10s linear infinite;
    
}

.box div:nth-child(2){
    top:70%;
    left: 50%;
    animation: animate 7s linear infinite;
    
}

.box div:nth-child(3){
    top:17%;
    left: 6%;
    animation: animate 9s linear infinite;
    
}

.box div:nth-child(4){
    top:20%;
    left: 60%;
    animation: animate 10s linear infinite;
    
}

.box div:nth-child(5){
    top:67%;
    left: 10%;
    animation: animate 6s linear infinite;
    
}


.box div:nth-child(6){
    top:80%;
    left: 70%;
    animation: animate 12s linear infinite;
    
}


.box div:nth-child(7){
    top:60%;
    left: 90%;
    animation: animate 15s linear infinite;
    
}

.box div:nth-child(8){
    top:32%;
    left: 25%;
    animation: animate 16s linear infinite;
    
}


.box div:nth-child(9){
    top:90%;
    left: 25%;
    animation: animate 9s linear infinite;
    
}

.box div:nth-child(10){
    top:20%;
    left: 90%;
    animation: animate 5s linear infinite;
    
}
.box div:nth-child(11){
    top:80%;
    left: 70%;
    animation: animate 12s linear infinite;
    
}


.box div:nth-child(12){
    top:110%;
    left: 90%;
    animation: animate 15s linear infinite;
    
}

.box div:nth-child(13){
    top:110%;
    left: 25%;
    animation: animate 16s linear infinite;
    
}


.box div:nth-child(14){
    top:155%;
    left: 30%;
    animation: animate 9s linear infinite;
    
}

.box div:nth-child(15){
    top:175%;
    left: 90%;
    animation: animate 5s linear infinite;
    
}
.box div:nth-child(16){
    top:185%;
    left: 20%;
    animation: animate 9s linear infinite;
    
}

.box div:nth-child(17){
    top:190%;
    left: 50%;
    animation: animate 5s linear infinite;
    
}
.box div:nth-child(18){
    top:175%;
    left: 40%;
    animation: animate 18s linear infinite;
    
}


.box div:nth-child(19){
    top:192%;
    left: 90%;
    animation: animate 15s linear infinite;
    
}

.box div:nth-child(20){
    top:165%;
    left: 80%;
    animation: animate 10s linear infinite;
    
}
 

@keyframes anima{
    0%{
        background-position: 0 50%;
    }
     50%{
        background-position: 100% 50%;
    }
     100%{
        background-position: 0 50%;
    }
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
    
}